{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>短信登录</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
    <style>
        .box {
            width: 450px;
            border: 1px solid #dddddd;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 30px;
            box-shadow: 5px 10px 10px rgb(0 0 0 / 5%);

        }
    </style>
</head>
<body>
<div class="box">
    <form method="post">
        <h3 style="text-align: center">短信登录</h3>
        {% csrf_token %}

        {% for field in form %}
            {% if field.name == 'code' %}
                <div class="form-group" style="position: relative; margin-bottom: 25px">
                <label>{{ field.label }}</label>
                <div class="row">
                    <div class="col-xs-7">
                        {{ field }}
                    </div>
                    <div class="col-xs-5">
                        <input id="sendBtn" type="button" value="点击获取验证码" class="btn btn-default">
                    </div>
                    <span style="color:red ;position: absolute">{{ field.errors.0 }}</span>
                </div>
            {% else %}
                <div class="form-group" style="position: relative; margin-bottom: 25px">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    <span style="color:red ;position: absolute">{{ field.errors.0 }}</span>
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">登 陆</button>
        <a href="{% url 'login' %}" style="float: right">用户登录</a>
    </form>
</div>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>
<script>
    // 当页面框架执行完之后，自动执行里面的代码。

    $(function () {
        bindSendSmsEvent();
    })


    function bindSendSmsEvent() {

        // 2.动态效果
        $("#sendBtn").click(function () {
            $.ajax({
                {#url:'sms/send/'    //向这个地址发送请求#}
                url: "{% url 'sms_send' %}",   //如果单独放JS文件中引入不能用这个，无法被渲染
                type: 'POST',
                data: '{mobile:"18888888888"}',
                headers: {
                    "X_CSRFTOKEN": getCookie('csrftoken'),
                },
                success: function (res) {
                    console.log(res);
                }
            })


            var $smsBtn = $("#sendBtn");
            // 2.1 禁用
            $smsBtn.prop("disabled", true);
            // 2.2 改内容
            var time = 60;
            var remind = setInterval(function () {
                $smsBtn.val(time + "秒重新发送 ");
                time = time - 1;
                if (time < 0) {
                    clearInterval(remind);
                    $smsBtn.val("点击获取验证码");
                    $smsBtn.prop("disabled", false);
                }
            }, 1000);
        });
    }
</script>
</body>
</html>