{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>短信登录</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
    <style>
        .box {
            width: 450px;
            border: 1px solid #dddddd;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 30px;
            box-shadow: 5px 10px 10px rgb(0 0 0 / 5%);

        }
    </style>
</head>
<body>
<div class="box">
    <form method="post">
        {% csrf_token %}
        <h3 style="text-align: center">短信登录</h3>
        {% for field in form %}
            {% if field.name == 'code' %}
                <div class="form-group" style="position: relative; margin-bottom: 25px">
                <label>{{ field.label }}</label>
                <div class="row">
                    <div class="col-xs-7">
                        {{ field }}
                    </div>
                    <div class="col-xs-5">
                        <input type="button" value="发送短信" class="btn btn-default">
                    </div>
                    <span style="color:red ;position: absolute">{{ field.errors.0 }}</span>
                </div>
            {% else %}
                <div class="form-group" style="position: relative; margin-bottom: 25px">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    <span style="color:red ;position: absolute">{{ field.errors.0 }}</span>
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">登 陆</button>
        <a href="{% url 'login' %}" style="float: right">用户登录</a>
    </form>
</div>
</body>
</html>